* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box; }

body {
  background-color: #adb5bd;
  font-family: "Roboto", sans-serif; }
  body .navbar {
    background-color: #e9ecef;
    max-width: 1000px;
    margin-left: 220px; }
  @media (max-width: 768px) {
    body .navbar {
      width: auto;
      margin: 0; } }

/* Nosotros Main */
.aboutUs {
  margin: 0 auto;
  max-width: 1000px;
  background-color: #e9ecef;
  padding: 24px; }
  .aboutUs img {
    display: block;
    margin: auto; }
  .aboutUs .imageAboutus {
    max-height: 500px;
    width: 100%; }
  .aboutUs .imageAboutus:hover {
    filter: opacity(0.5); }

/* Nosotros Story */
.ourStory {
  margin: 0 auto;
  max-width: 1000px;
  background-color: #e9ecef;
  padding: 24px;
  border-top: #adb5bd solid 20px;
  display: flex;
  justify-content: center; }
  .ourStory .ourStory__textWrapper {
    width: 500px;
    height: 300px;
    margin-top: 120px;
    margin-right: 100px; }
  .ourStory .ourStory__image {
    width: 500px;
    height: 400px;
    margin-right: 30px; }
  .ourStory .imageOurstory {
    width: 100%;
    height: 100%; }
  .ourStory .imageOurstory:hover {
    filter: opacity(0.5); }
  @media (max-width: 480px) {
    .ourStory .ourStory {
      display: grid;
      grid-template-rows: repeat 2, 1fr;
      grid-template-areas: "ourStory__image ourStory__textWrapper"; }
    .ourStory .ourStory__image {
      justify-self: center;
      align-self: center; }
    .ourStory .ourStory__textWrapper {
      justify-self: center;
      align-self: center;
      padding-left: 145px;
      margin-top: -65px; } }

/* Index Value */
.ourValue {
  margin: 0 auto;
  max-width: 1000px;
  border-top: #adb5bd solid 30px;
  background-color: #e9ecef;
  padding: 24px;
  display: grid; }
  .ourValue h2 {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px; }
  .ourValue .value {
    text-align: center; }
  .ourValue .valueIcons:hover {
    filter: opacity(0.5); }
  .ourValue .values {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center; }
  @media (min-width: 420px) {
    .ourValue .values {
      display: grid;
      grid-template-columns: repeat(2, 1fr); }
    .ourValue .ourValue__textWrapper {
      margin: 0 auto;
      justify-self: center; } }
  @media (min-width: 768px) {
    .ourValue .values {
      display: grid;
      grid-template-columns: repeat(4, 1fr); } }
  .ourValue .valueIcons {
    width: 30px;
    height: 30px; }

/* Index Footer */
.footer {
  margin: 0 auto;
  max-width: 1000px;
  background-color: #e9ecef;
  padding: 24px;
  border-top: #adb5bd solid 30px; }
  .footer .footer__title {
    text-align: center; }
  @media only screen and (min-width: 320px) {
    .footer .footer {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas: "footer__title" "footer__icons"; } }
  .footer .footer__title {
    justify-self: center;
    align-self: center;
    margin-bottom: 0;
    margin-right: 30px; }
  .footer .footer__icons {
    display: flex;
    justify-content: center; }
  .footer .footer__icons .social {
    margin-right: 50px; }
  .footer .footer__icons {
    display: flex;
    justify-content: center; }
  .footer .footer__icons .social {
    margin-right: 20px; }
  .footer .socialIcons {
    height: 30px;
    width: 30px; }
  .footer .footer__tittle {
    text-align: center; }

/* Index Main */
.main {
  margin: 0 auto;
  max-width: 1000px;
  background-color: #e9ecef;
  padding: 24px; }
  .main img {
    display: block;
    margin: auto; }
  .main .mainImage {
    max-height: 500px;
    width: 100%; }
  .main .mainImage:hover {
    filter: opacity(0.5); }

/* Index Products */
.products {
  margin: 0 auto;
  max-width: 1000px;
  max-height: 450px;
  background-color: #e9ecef;
  padding: 24px;
  border-top: #adb5bd solid 30px;
  display: flex; }
  .products .products__textWrapper {
    width: 500px;
    height: 400px;
    margin-top: 120px; }
  .products .products__image {
    width: 500px;
    height: 400px; }
  .products .productsImage {
    visibility: visible;
    width: 100%;
    height: 100%;
    margin-top: -15px; }
  .products .productsImage:hover {
    filter: opacity(0.5); }
  .products .btn {
    margin-left: 70px; }
  .products h1 {
    color: #212529;
    font-weight: 900;
    letter-spacing: 2px;
    text-align: center; }
  .products h2 {
    color: #343a40;
    font-weight: 400;
    text-align: center; }
  .products .link {
    color: #212529;
    text-align: center;
    align-self: center; }
  .products .link:hover {
    color: #adb5bd;
    text-align: center;
    align-self: center; }
  @media (max-width: 420px) {
    .products .products {
      display: grid;
      grid-template-columns: 1fr; }
    .products .products__textWrapper {
      margin: 0 auto;
      align-items: center;
      justify-content: center;
      margin-left: 90px; }
    .products .btn {
      display: inline-block;
      margin: auto 20px; }
    .products .productsImage {
      display: none; }
    .products h1 {
      font-weight: 200;
      font-size: 50px;
      text-align: center; }
    .products h2 {
      font-weight: 200;
      font-size: 20px;
      text-align: center; } }
  @media (min-width: 678px) {
    .products .productsImage {
      display: block; } }

/* Index Work */
.work {
  margin: 0 auto;
  max-width: 1000px;
  border-top: #adb5bd solid 30px;
  background-color: #e9ecef;
  padding: 24px; }
  .work .workImage {
    width: 100%;
    height: 100%; }
  .work .workImage:hover {
    filter: opacity(0.5); }
  .work h2 {
    text-align: center; }

/* Productos Main */
.ourProducts {
  margin: 0 auto;
  max-width: 1000px;
  background-color: #e9ecef;
  padding: 24px; }
  .ourProducts img {
    display: block;
    margin: auto; }
  .ourProducts .imageProducts {
    max-height: 500px;
    width: 100%; }
  .ourProducts .imageProducts:hover {
    filter: opacity(0.5); }
  .ourProducts .footer {
    margin: 0 auto;
    border-top: #adb5bd solid 30px;
    border-bottom: #adb5bd solid 30px;
    max-width: 1000px;
    background-color: #e9ecef;
    padding: 24px; }
  .ourProducts .footer__tittle {
    text-align: center; }
  .ourProducts .footer__icons {
    display: flex;
    justify-content: center; }
  .ourProducts .footer__icons .social {
    margin-right: 50px; }

/* Productos Materiales */
.ourMaterials {
  margin: 0 auto;
  border-top: #adb5bd solid 30px;
  max-width: 1000px;
  background-color: #e9ecef;
  padding: 24px;
  display: grid; }
  .ourMaterials .materials {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center; }
  .ourMaterials .card-img-top:hover {
    filter: opacity(0.5); }
  @media (min-width: 320px) {
    .ourMaterials .materials {
      display: grid;
      grid-template-columns: repeat(1, 1fr); }
    .ourMaterials .card {
      margin-top: 5px; } }
  @media (min-width: 768px) {
    .ourMaterials .materials {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin-right: 2px; }
    .ourMaterials .card {
      margin-right: 7px; } }
  .ourMaterials .card-body {
    background-color: #e9ecef; }
  .ourMaterials .card-title .card-text {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    justify-self: center;
    text-align: center; }

/* Servicios Main */
.serviceMain {
  margin: 0 auto;
  max-width: 1000px;
  background-color: #e9ecef;
  padding: 24px; }
  .serviceMain img {
    display: block;
    margin: auto; }
  .serviceMain .imageService {
    max-height: 500px;
    width: 100%; }
  .serviceMain .imageService:hover {
    filter: opacity(0.5); }
  .serviceMain .footer {
    margin: 0 auto;
    border-top: #adb5bd solid 30px;
    border-bottom: #adb5bd solid 30px;
    max-width: 1000px;
    background-color: #e9ecef;
    padding: 24px; }
  .serviceMain .footer__tittle {
    text-align: center; }
  .serviceMain .footer__icons {
    display: flex;
    justify-content: center; }
  .serviceMain .footer__icons .social {
    margin-right: 50px; }

.ourServices {
  margin: 0 auto;
  border-top: #adb5bd solid 30px;
  max-width: 1000px;
  background-color: #e9ecef;
  padding: 24px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center; }
  .ourServices .card-img-top:hover {
    filter: opacity(0.5); }
  .ourServices h5 {
    text-align: center;
    font-size: 30px; }
  @media (max-width: 480px) {
    .ourServices .ourServices {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      justify-items: center; }
    .ourServices .card {
      width: 9rem;
      margin-left: -5px; }
    .ourServices p {
      font-size: 13px;
      text-align: center; }
    .ourServices h5 {
      font-size: 17px; } }
  .ourServices .card-body {
    background-color: #e9ecef; }
  .ourServices .card-title .card-text {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    justify-self: center;
    text-align: center; }

/* Portfolio Photos */
.ourPortfolio {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }
  .ourPortfolio .image-container {
    margin: 0 auto;
    max-width: 1000px;
    border-top: #adb5bd solid 20px;
    background-color: #e9ecef;
    padding: 24px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 1000px;
    grid-gap: 0.5rem; }
  .ourPortfolio .image-container .image {
    position: relative;
    padding-bottom: 100%; }
  .ourPortfolio .image-container .image img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    left: 0;
    position: absolute;
    top: 0; }
  .ourPortfolio .image-container .image img:nth-of-type(1) {
    filter: grayscale(1) brightness(40%); }
  .ourPortfolio .image-container .image img:nth-of-type(2) {
    -webkit-clip-path: var(--clip-start);
    clip-path: var(--clip-start);
    transition: -webkit-clip-path 0.5s;
    transition: clip-path 0.5s;
    transition: clip-path 0.5s, -webkit-clip-path 0.5s; }
  .ourPortfolio .image-container .image:hover img:nth-of-type(2) {
    -webkit-clip-path: var(--clip-end);
    clip-path: var(--clip-end); }
  @media (max-width: 480px) {
    .ourPortfolio .image-container {
      border-top: #adb5bd solid -10px;
      border-bottom: -50px; } }

/* Contacto */
.contact {
  margin: 0 auto;
  max-width: 1000px;
  max-height: 400px;
  background-color: #e9ecef;
  padding: 24px;
  border-top: #adb5bd solid 20px;
  /* on hover placeholder */ }
  .contact input::-webkit-input-placeholder, .contact textarea::-webkit-input-placeholder {
    color: black;
    font-size: 0.875em; }
  .contact input:focus::-webkit-input-placeholder, .contact textarea:focus::-webkit-input-placeholder {
    color: black; }
  .contact input::-moz-placeholder, .contact textarea::-moz-placeholder {
    color: black;
    font-size: 0.875em; }
  .contact input:focus::-moz-placeholder, .contact textarea:focus::-moz-placeholder {
    color: black; }
  .contact input::placeholder, .contact textarea::placeholder {
    color: #212529;
    font-size: 0.875em; }
  .contact input:focus::placeholder, .contact textarea::focus:placeholder {
    color: black; }
  .contact input::-ms-placeholder, .contact textarea::-ms-placeholder {
    color: black;
    font-size: 0.875em; }
  .contact input:focus::-ms-placeholder, .contact textarea:focus::-ms-placeholder {
    color: black; }
  .contact input:hover::-webkit-input-placeholder, .contact textarea:hover::-webkit-input-placeholder {
    color: black;
    font-size: 0.875em; }
  .contact input:hover:focus::-webkit-input-placeholder, .contact textarea:hover:focus::-webkit-input-placeholder {
    color: black; }
  .contact input:hover::-moz-placeholder, .contact textarea:hover::-moz-placeholder {
    color: black;
    font-size: 0.875em; }
  .contact input:hover:focus::-moz-placeholder, .contact textarea:hover:focus::-moz-placeholder {
    color: black; }
  .contact input:hover::placeholder, .contact textarea:hover::placeholder {
    color: black;
    font-size: 0.875em; }
  .contact input:hover:focus::placeholder, .contact textarea:hover:focus::placeholder {
    color: black; }
  .contact input:hover::placeholder, .contact textarea:hover::placeholder {
    color: black;
    font-size: 0.875em; }
  .contact input:hover:focus::-ms-placeholder, .contact textarea:hover::focus:-ms-placeholder {
    color: black; }
  .contact header {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    position: relative;
    margin: 100px 0 25px 0;
    font-size: 2.3em;
    text-align: center;
    letter-spacing: 2px;
    margin-top: -5px; }
  .contact #form {
    position: relative;
    width: 500px;
    margin: 50px auto 100px auto;
    align-self: center;
    margin-top: -10px; }
  .contact input {
    font-family: "Roboto", sans-serif;
    font-size: 0.875em;
    width: 470px;
    height: 50px;
    padding: 0px 15px 0px 15px;
    background: transparent;
    outline: none;
    color: black;
    border: solid 1px #adb5bd;
    border-bottom: none;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out; }
  .contact input:hover {
    background: #adb5bd;
    color: #e2dedb; }
  .contact textarea {
    width: 470px;
    max-width: 470px;
    height: 110px;
    max-height: 110px;
    padding: 15px;
    background: transparent;
    outline: none;
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: 0.875em;
    border: solid 1px #adb5bd;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out; }
  .contact textarea:hover {
    background: #adb5bd;
    color: #e2dedb; }
  .contact #submit {
    width: 470px;
    padding: 0;
    margin: -5px 0px 0px 0px;
    font-family: "Roboto", sans-serif;
    font-size: 0.875em;
    color: black;
    outline: none;
    cursor: pointer;
    border: solid 1px #adb5bd;
    border-top: none; }
  .contact #submit:hover {
    color: #e2dedb; }
  .contact .footer {
    margin: 0 auto;
    border-top: #adb5bd solid 30px;
    border-bottom: #adb5bd solid 30px;
    max-width: 1200px;
    background-color: #e9ecef;
    padding: 24px; }
  .contact .footer__tittle {
    text-align: center; }
  .contact .footer__icons {
    display: flex;
    justify-content: center; }
  .contact .footer__icons .social {
    margin-right: 50px; }
