* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box; }

body {
  background-color: #adb5bd;
  font-family: "Roboto", sans-serif; }

/* Nosotros */
.aboutUs {
  margin: 0 auto;
  max-width: 1200px;
  background-color: #e9ecef;
  padding: 24px;
  border-top: #adb5bd solid 20px;
  display: grid;
  grid-template-columns: repeat(2 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "aboutUs__textWrapper aboutUs__image" "aboutUs__textWrapper aboutUs__image"; }
  .aboutUs .imagen__aboutus {
    border-radius: 10px;
    height: 250px;
    max-width: 100%; }
  .aboutUs .imagen__aboutus:hover {
    filter: opacity(0.5); }
  .aboutUs .aboutUs__textWrapper {
    margin-bottom: 30px;
    text-align: center; }
  .aboutUs #myCarousel {
    margin-bottom: 30px;
    text-align: center; }
  .aboutUs .aboutUs__textWrapper {
    grid-column: aboutUs__textWrapper;
    grid-row: aboutUs__textWrapper;
    justify-self: center;
    align-self: center; }
  .aboutUs .aboutUs__image {
    grid-column: aboutUs__image;
    grid-row: aboutUs__image;
    justify-self: center;
    align-self: center; }
  @media only screen and (min-width: 320px) {
    .aboutUs .aboutUs {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas: "aboutUs__textWrapper" "aboutUs__image"; }
    .aboutUs .aboutUs__textWrapper {
      justify-self: center;
      align-self: center;
      margin-bottom: 0;
      margin-right: 30px; }
    .aboutUs .aboutUs__image {
      justify-self: center;
      align-self: center; } }
  @media (min-width: 768px) {
    .aboutUs .aboutUs {
      display: flex;
      justify-content: space-between;
      align-items: center; }
    .aboutUs .aboutUs__textWrapper {
      margin-bottom: 0;
      margin-right: 30px; }
    .aboutUs .aboutUs__image {
      justify-self: center;
      align-self: center; } }

.reviews {
  margin: 0 auto;
  border-top: #adb5bd solid 30px;
  max-width: 1200px;
  background-color: #e9ecef;
  padding: 24px; }
  .reviews .blockquote {
    max-width: 1200px;
    margin: 10px 30px;
    padding: 25px;
    background: #e9ecef;
    border: 1px solid #6c757d;
    color: #6c757d;
    box-sizing: border-box; }
  .reviews .blockquote--bordered {
    border-left-width: 10px; }
  .reviews .blockquote--quoted::before {
    content: "\201c";
    font-size: 100px;
    color: #6c757d;
    display: block;
    margin-bottom: -40px;
    margin-top: -20px; }
  .reviews .reviews .blockquote__text {
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-size: 1.15em;
    line-height: 1.5; }
  .reviews .blockquote__text--credit {
    font-weight: bold;
    font-style: normal;
    text-align: right; }
  .reviews .blockquote__text--credit::before {
    content: "\2014\0020"; }

.footer {
  margin: 0 auto;
  border-top: #adb5bd solid 30px;
  max-width: 1200px;
  background-color: #e9ecef;
  padding: 24px; }

.footer__icons {
  display: flex;
  justify-content: center; }

.footer__icons .social {
  margin-right: 50px; }

/* Index Value */
.valueIcons {
  width: 30px;
  height: 30px; }

.value {
  margin: 0 auto;
  max-width: 1200px;
  border-top: #adb5bd solid 30px;
  background-color: #e9ecef;
  padding: 24px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 70px);
  grid-template-areas: "value__title value__title value__title value__title"  "value__icon1 value__icon2 value__icon3 value__icon4" "value__title1 value__title2 value__title3 value__title4" "value__text1 value__text2 value__text3 value__text4"; }
  .value .value__title {
    grid-column: value__title;
    grid-row: value__title;
    align-self: flex-end;
    justify-self: center; }
  .value .value__icon1 {
    grid-column: value__icon1;
    grid-row: value__icon1;
    justify-self: center;
    align-self: center; }
  .value .value__icon2 {
    grid-column: value__icon2;
    grid-row: value__icon2;
    justify-self: center;
    align-self: center; }
  .value .value__icon3 {
    grid-column: value__icon3;
    grid-row: value__icon3;
    justify-self: center;
    align-self: center; }
  .value .value__icon4 {
    grid-column: value__icon4;
    grid-row: value__icon4;
    justify-self: center;
    align-self: center; }
  .value .value__title1 {
    grid-column: value__title1;
    grid-row: value__title1;
    justify-self: center;
    align-self: center; }
  .value .value__title2 {
    grid-column: value__title2;
    grid-row: value__title2;
    justify-self: center;
    align-self: center; }
  .value .value__title3 {
    grid-column: value__title3;
    grid-row: value__title3;
    justify-self: center;
    align-self: center; }
  .value .value__title4 {
    grid-column: value__title4;
    grid-row: value__title4;
    justify-self: center;
    align-self: center; }
  .value .value__text1 {
    grid-column: value__text1;
    grid-row: value__text1;
    justify-self: center;
    align-self: center; }
  .value .value__text2 {
    grid-column: value__text2;
    grid-row: value__text2;
    justify-self: center;
    align-self: center; }
  .value .value__text3 {
    grid-column: value__text3;
    grid-row: value__text3;
    justify-self: center;
    align-self: center; }
  .value .value__text4 {
    grid-column: value__text4;
    grid-row: value__text4;
    justify-self: center;
    align-self: center; }

/* Index Footer */
.footer {
  background-color: #e9ecef;
  border-top: #adb5bd solid 30px;
  margin: 0 auto;
  max-width: 1200px;
  padding: 24px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "footer__title footer__map" "footer__icons footer__address"; }

.footer__title {
  grid-column: footer__title;
  grid-row: footer__title; }

.footer__map {
  margin-top: -40px;
  grid-column: footer__map;
  grid-row: footer__map; }

.footer__address {
  grid-column: footer__address;
  grid-row: footer__address; }

.footer__icons {
  grid-column: footer__icons;
  grid-row: footer__icons; }

@media only screen and (min-width: 320px) {
  .footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "footer__title" "footer__map" "footer__address" "footer__icons"; }
  .footer__map {
    justify-self: center;
    align-self: center; }
  .footer__title {
    justify-self: center;
    align-self: center;
    margin-bottom: 0;
    margin-right: 30px; }
  .footer__icons {
    display: flex;
    justify-content: center; }
  .footer__icons .social {
    margin-right: 50px; }
  .footer__address {
    color: #495057;
    text-align: center; }
  .footer__icons {
    display: flex;
    justify-content: center; }
  .footer__icons .social {
    margin-right: 50px; }
  .socialIcons {
    height: 30px;
    width: 30px; } }

/* Index Main */
.main {
  margin: 0 auto;
  border-top: #adb5bd solid 30px;
  max-width: 1200px;
  background-color: #e9ecef;
  padding: 24px;
  text-align: center; }
  .main .mainImage {
    border-radius: 10px;
    height: 250px;
    width: auto; }
  .main .mainImage:hover {
    filter: opacity(0.5); }
  @media only screen and (min-width: 320px) {
    .main .main {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas: "main__image" "main__textWrapper"; }
    .main .main__image {
      justify-self: center;
      align-self: center; }
    .main .main__textWrapper {
      justify-self: center;
      align-self: center;
      margin-bottom: 0;
      margin-right: 30px; } }
  @media (min-width: 768px) {
    .main .main {
      display: flex;
      justify-content: space-between;
      align-items: center; }
    .main .main__textWrapper {
      margin-bottom: 0;
      margin-right: 30px; }
    .main .main__image {
      justify-self: center;
      align-self: center; } }
  .main h1 {
    color: #212529;
    font-weight: 900;
    letter-spacing: 2px;
    text-align: center; }
  .main .link {
    color: #212529;
    text-align: center; }
  .main .link:hover {
    color: #adb5bd;
    text-align: center; }

/* Index Products */
.products {
  margin: 0 auto;
  border-top: #adb5bd solid 30px;
  max-width: 1200px;
  background-color: #e9ecef;
  padding: 24px;
  text-align: center; }
  .products .productsImage {
    border-radius: 10px;
    height: 250px;
    width: auto; }
  .products .productsImage:hover {
    filter: opacity(0.5); }
  @media only screen and (min-width: 320px) {
    .products .products {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas: "products__image" "products__textWrapper"; }
    .products .products__image {
      justify-self: center;
      align-self: center; }
    .products .products__textWrapper {
      justify-self: center;
      align-self: center;
      margin-bottom: 0;
      margin-right: 30px; } }
  @media (min-width: 768px) {
    .products .products {
      display: grid;
      grid-template-columns: repeat(2 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas: "products__textWrapper products__image" "products__textWrapper products__image"; }
    .products .products__textWrapper {
      grid-column: products__textWrapper;
      grid-row: products__textWrapper;
      justify-self: center;
      align-self: center; }
    .products .products__image {
      grid-column: products__image;
      grid-row: products__image;
      justify-self: center;
      align-self: center; } }

h2 {
  color: #343a40;
  font-weight: 400;
  text-align: center; }

h3 {
  color: #495057;
  font-weight: 300;
  text-align: center; }

.link {
  color: #212529;
  text-align: center; }

.link:hover {
  color: #adb5bd;
  text-align: center; }

/* Index Work */
.work {
  margin: 0 auto;
  max-width: 1200px;
  border-top: #adb5bd solid 30px;
  background-color: #e9ecef;
  padding: 24px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center; }
  .work .work__title {
    color: #343a40;
    font-weight: 400;
    text-align: center; }
  .work .carousel {
    width: 1000px;
    height: 900px; }

/* Productos */
.ourProducts {
  margin: 0 auto;
  border-top: #adb5bd solid 30px;
  max-width: 1200px;
  background-color: #e9ecef;
  padding: 24px;
  display: grid;
  grid-template-columns: repeat(2 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "ourProducts__textWrapper ourProducts__image" "ourProducts__textWrapper ourProducts__image"; }
  .ourProducts .imageProducts {
    border-radius: 10px;
    height: 250px;
    width: auto; }
  .ourProducts .imageProducts:hover {
    filter: opacity(0.5); }
  .ourProducts .ourProducts__textWrapper {
    margin-bottom: 30px;
    text-align: center; }
  .ourProducts .ourProducts__textWrapper {
    grid-column: ourProducts__textWrapper;
    grid-row: ourProducts__textWrapper;
    justify-self: center;
    align-self: center; }
  .ourProducts .ourProducts__image {
    grid-column: ourProducts__image;
    grid-row: ourProducts__image;
    justify-self: center;
    align-self: center; }
  @media only screen and (min-width: 320px) {
    .ourProducts .ourProducts {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas: "ourProducts__image" "ourProducts__textWrapper"; }
    .ourProducts .ourProducts__image {
      justify-self: center;
      align-self: center; }
    .ourProducts .ourProducts__textWrapper {
      justify-self: center;
      align-self: center;
      margin-bottom: 0;
      margin-right: 30px; } }
  @media (min-width: 768px) {
    .ourProducts .ourProducts {
      display: flex;
      justify-content: space-between;
      align-items: center; }
    .ourProducts .ourProducts__textWrapper {
      margin-bottom: 0;
      margin-right: 30px; }
    .ourProducts .ourProducts__image {
      justify-self: center;
      align-self: center; } }

.ourMaterials {
  margin: 0 auto;
  border-top: #adb5bd solid 30px;
  max-width: 1200px;
  background-color: #e9ecef;
  padding: 24px; }
  .ourMaterials ul {
    list-style: none; }
  .ourMaterials li {
    color: #6c757d;
    text-align: center;
    font-weight: 100; }
  .ourMaterials .footer {
    margin: 0 auto;
    border-top: #adb5bd solid 30px;
    max-width: 1200px;
    background-color: #e9ecef;
    padding: 24px; }
  .ourMaterials .footer__icons {
    display: flex;
    justify-content: center; }
  .ourMaterials .footer__icons .social {
    margin-right: 50px; }

/* Servicios */
.service__impresion {
  margin: 0 auto;
  border-top: #adb5bd solid 30px;
  max-width: 1200px;
  background-color: #e9ecef;
  padding: 24px; }

.imageImpresion {
  border-radius: 10px;
  height: 250px;
  width: auto; }

.imageImpresion:hover {
  filter: opacity(0.5); }

.impresion__textWrapper {
  margin-bottom: 30px;
  text-align: center; }

@media only screen and (min-width: 320px) {
  .service__impresion {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "impresion__image" "impresion__textWrapper"; }
  .impresion__image {
    justify-self: center;
    align-self: center; }
  .impresion__textWrapper {
    justify-self: center;
    align-self: center;
    margin-bottom: 0;
    margin-right: 30px; } }

@media (min-width: 768px) {
  .service__impresion {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .impresion__textWrapper {
    margin-bottom: 0;
    margin-right: 30px; }
  .impresion__image {
    justify-self: center;
    align-self: center; } }

.service__enmarcado {
  margin: 0 auto;
  border-top: #adb5bd solid 30px;
  max-width: 1200px;
  background-color: #e9ecef;
  padding: 24px; }

.imageEnmarcado {
  border-radius: 10px;
  height: 250px;
  width: auto; }

.imageEnmarcado:hover {
  filter: opacity(0.5); }

.enmarcado__textWrapper {
  margin-bottom: 30px;
  text-align: center; }

@media only screen and (min-width: 320px) {
  .service__enmarcado {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "enmarcado__image" "enmarcado__textWrapper"; }
  .enmarcado__image {
    justify-self: center;
    align-self: center; }
  .enmarcado__textWrapper {
    justify-self: center;
    align-self: center;
    margin-bottom: 0;
    margin-right: 30px; } }

@media (min-width: 768px) {
  .service__enmarcado {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .enmarcado__textWrapper {
    margin-bottom: 0;
    margin-right: 30px; }
  .enmarcado__image {
    justify-self: center;
    align-self: center; }
  .footer {
    margin: 0 auto;
    border-top: #adb5bd solid 30px;
    max-width: 1200px;
    background-color: #e9ecef;
    padding: 24px; }
  .footer__icons {
    display: flex;
    justify-content: center; }
  .footer__icons .social {
    margin-right: 50px; } }

.portfolio {
  margin: 0 auto;
  max-width: 1200px;
  background-color: #e9ecef;
  padding: 24px;
  border-top: #adb5bd solid 20px; }
  .portfolio .seccionportfolio {
    border-radius: 10px;
    height: 250px;
    width: auto; }
  .portfolio .portfolio__textWrapper {
    margin-bottom: 30px;
    text-align: center; }
  @media only screen and (min-width: 320px) {
    .portfolio .portfolio {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas: "portfolio__textWrapper" "carouselExampleIndicators"; }
    .portfolio .portfolio__textWrapper {
      justify-self: center;
      align-self: center;
      margin-bottom: 0;
      margin-right: 30px; }
    .portfolio .carouselExampleIndicators {
      justify-self: center;
      align-self: center; } }
  @media (min-width: 768px) {
    .portfolio .portfolio {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas: "portfolio__textWrapper" "carouselExampleIndicators"; }
    .portfolio .portfolio__textWrapper {
      justify-self: center;
      align-self: center;
      margin-bottom: 0;
      margin-right: 30px; }
    .portfolio .carouselExampleIndicators {
      justify-self: center;
      align-self: center; } }
  .portfolio .footer {
    margin: 0 auto;
    border-top: #adb5bd solid 30px;
    max-width: 1200px;
    background-color: #e9ecef;
    padding: 24px; }
  .portfolio .footer__icons {
    display: flex;
    justify-content: center; }
  .portfolio .footer__icons .social {
    margin-right: 50px; }

/* Contacto */
.contact {
  margin: 0 auto;
  max-width: 1200px;
  background-color: #e9ecef;
  padding: 24px;
  border-top: #adb5bd solid 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "contact__textWrapper contact__form"  "contact__image contact__form"; }
  .contact .contactImage {
    border-radius: 10px;
    height: 250px; }
  .contact .contactImage:hover {
    filter: opacity(0.5); }
  .contact .contact__textWrapper {
    margin-bottom: 30px;
    text-align: center; }
  .contact .contact__image {
    grid-column: contact__image;
    grid-row: contact__image;
    align-self: center;
    justify-self: center; }
  .contact .contact__textWrapper {
    grid-column: contact__textWrapper;
    grid-row: contact__textWrapper;
    justify-self: center;
    align-self: center; }
  .contact .contact__form {
    grid-column: contact__form;
    grid-row: contact__form; }

.contact__form {
  padding: 1em;
  background: #f9f9f9;
  border: 1px solid #c1c1c1;
  margin-top: 2rem;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em; }

.contact__form input {
  margin-bottom: 1rem;
  background: #fff;
  border: 1px solid #9c9c9c; }

.contact__form button {
  background: lightgrey;
  padding: 0.7em;
  border: 0; }

.contact__form button:hover {
  background: grey; }

.contact__form label {
  text-align: right;
  display: block;
  padding: 0.5em 1.5em 0.5em 0; }

.contact__form select {
  background-color: lightgrey; }

.contact__form input {
  width: 100%;
  padding: 0.7em;
  margin-bottom: 0.5rem; }

.contact__form input:focus {
  outline: 3px solid lightgrey; }

@media (min-width: 400px) {
  .contact__form {
    overflow: hidden; }
  .contact__form label {
    float: left;
    width: 200px; }
  .contact__form input {
    float: left;
    width: calc(100% - 200px); }
  .contact__form button {
    float: right;
    width: calc(100% - 200px); } }
