/* Nosotros */

.aboutUs {
  margin: 0 auto;
  max-width: 1200px;
  background-color:  #e9ecef;
  padding: 24px;
  border-top: #adb5bd solid 20px;
  display: flex;
  justify-content: center;}


.aboutUs__textWrapper {
  width: auto;
  height: auto;
  margin-top: 40px;
  margin-right: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.aboutUs__image {
  width: 400px;
  height: auto;
  justify-self: center;
  align-self: center;
}

@media (max-width: 480px){
  .aboutUs{
    display: grid;
    grid-template-columns: repeat (1, 1fr);
    align-items: center;
    justify-items: center;
  }

  .aboutUs__image{
    justify-self: center;
    align-self: center;
  }

  .aboutUs__textWrapper{
    justify-self: center;
    align-self: center;
  }
}

.imagen__aboutus{
    border-radius: 10px;
    height: 250px;
}

.imagen__aboutus:hover{
  filter: opacity(.5);
}


#myCarousel{
  margin-bottom: 30px;
  text-align: center;
}

.reviews{
margin: 0 auto;
border-top: #adb5bd solid 30px;
max-width: 1200px;
background-color:  #e9ecef;
padding: 24px;

.blockquote{
  max-width: 1200px;
  margin: 10px 30px;
  padding: 25px;
  background: #e9ecef;
  border: 1px solid #6c757d;
  color: #6c757d;
  box-sizing: border-box;
}

.blockquote--bordered{
  border-left-width: 10px;
}

.blockquote--quoted::before{
  content: "\201c";
  font-size: 100px;
  color: #6c757d;
  display: block;
  margin-bottom: -40px;
  margin-top: -20px;
}

.reviews .blockquote__text{
  font-family: $font-stack;
  font-style: italic;
  font-size: 1.15em;
  line-height: 1.5;
}

.blockquote__text--credit{
  font-weight: bold;
  font-style: normal;
  text-align: right;
}

.blockquote__text--credit::before{
  content: "\2014\0020"
}
}

.footer{
margin: 0 auto;
border-top: #adb5bd solid 30px;
border-bottom: #adb5bd solid 30px;
max-width: 1200px;
background-color:  #e9ecef;
padding: 24px;
}

.footer__icons{

display: flex;
justify-content: center;

}

.footer__icons .social{
margin-right: 50px;
}

h2{
text-align: center;
}
