/* Nosotros Main */
  
.aboutUs {
  margin: 0 auto;
  max-width: 1000px;
  background-color:  #e9ecef;
  padding: 24px;

  img{
    display: block;
    margin: auto;
    }

  .imageAboutus{
    max-height: 500px;
    width: 100%;
  }
  .imageAboutus:hover{
  filter: opacity(.5);
  }

  // h2{
  //   text-align: center;
  //   }


// .footer{
// margin: 0 auto;
// border-top: #adb5bd solid 30px;
// border-bottom: #adb5bd solid 30px;
// max-width: 1000px;
// background-color:  #e9ecef;
// padding: 24px;
// }

// .footer__icons{

// display: flex;
// justify-content: center;

// }

// .footer__icons .social{
// margin-right: 50px;
// }

}
