/* Nosotros Main */
  
.aboutUs {
  margin: 0 auto;
  max-width: 1000px;
  background-color:  #e9ecef;
  padding: 24px;

  img{
    display: block;
    margin: auto;
    }

  .imageAboutus{
    max-height: 500px;
    width: 100%;
  }
  .imageAboutus:hover{
  filter: opacity(.5);
  }


}
