/* Index Footer */
.footer{
    background-color: #e9ecef;
    border-top: #adb5bd solid 30px;
    margin: 0 auto;
    max-width: 1200px;
    padding: 24px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "footer__title footer__map"
                        "footer__icons footer__address";
    }

    .footer__title{ 
    grid-column: footer__title;
    grid-row: footer__title;
    }

    .footer__map{ 
        grid-column: footer__map;
        grid-row: footer__map;
        margin-bottom: 20px;
        }

    .footer__address{ 
    grid-column: footer__address;
    grid-row: footer__address;
    }

    .footer__icons{ 
    grid-column: footer__icons;
    grid-row: footer__icons;
    }


    @media only screen and (min-width: 320px) {
        .footer{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-template-areas:    "footer__title"
                                    "footer__map"
                                    "footer__address"
                                    "footer__icons";
            }
            
            .footer__map{
                justify-self: center;
                align-self: center;
            }
    
            .footer__title{
                justify-self: center;
                align-self: center;
                margin-bottom: 0;
                margin-right: 30px;
            }
            .footer__icons{
                display: flex;
                justify-content: center;
                
            }
                
            .footer__icons .social{
            margin-right: 50px;
            }

            .footer__address{
                color: $address-color;
                text-align: $address-align;
            }

            .footer__icons{

                display: flex;
              
                justify-content: center;
              
              }
              
              .footer__icons .social{
              
                margin-right: 50px;
              
              }

            .socialIcons{
                height: 30px;
                width: 30px;
            }
}