/* Index Main */
.main {
  margin: 0 auto;
  max-width: 1000px;
  background-color:  #e9ecef;
  padding: 24px;

  img{
    display: block;
    margin: auto;
    }

  .mainImage{
    max-height: 500px;
    width: 100%;
  }
  .mainImage:hover{
  filter: opacity(.5);
  }
}

