/* Index Main */
.main {
    margin: 0 auto;
    max-width: 1200px;
    background-color:  #e9ecef;
    padding: 24px;
    border-top: #adb5bd solid 30px;
  
  
    .mainImage{
    border-radius: 10px;
    height: 250px;
    width: auto;
    }

    .mainImage:hover{
    filter: opacity(.5);
    }
       
    h1{
      color: $h1-color; 
      font-weight: $h1-weight; 
      letter-spacing: $h1-spacing;
      text-align: $h1-spacing;
      }

    .link{ 
        color: $link-color; 
        text-align: $link-align;
    }
    
    .link:hover{ 
        color: $linkhover-color; 
        text-align: $linkhover-align;
    }
}

