.portfolio {
    margin: 0 auto;
    max-width: 1200px;
    background-color:  #e9ecef;
    padding: 24px;
    border-top: #adb5bd solid 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  

  .portfolio__textWrapper {
    text-align: center;
    }

    .carousel{
      max-width: 600px;
      height: auto;
  }

  .footer{
    margin: 0 auto;
    border-top: #adb5bd solid 30px;
    border-bottom: #adb5bd solid 30px;
    max-width: 1200px;
    background-color:  #e9ecef;
    padding: 24px;
  }
  
  .footer__tittle{
    text-align: center;
  }
        
  .footer__icons{      
  display: flex;
  justify-content: center;
  }
  .footer__icons .social{
  margin-right: 50px;
  }
        
}