/* Productos Materiales */

.ourMaterials{
    margin: 0 auto;
    border-top: #adb5bd solid 30px;
    max-width: 1000px;
    background-color:  #e9ecef;
    padding: 24px;
    display: grid;

    h2{
      text-align: center;
    }

    p{
      text-align: center;
    }

    h5{
      text-align: center;
    }
    .materials{
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
      justify-items: center;
    }

    .card-img-top:hover{
      filter: opacity(.5);
    }

    @media (min-width: 320px) {
      .materials{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
      }

      .card{
        margin-top: 15px;
      }

      h2{
        font-size: 25px;
        font-weight: 600;
      }
    }

    @media (min-width: 768px) {
      .materials{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-right: 2px;
      }
      .card{
        margin-right: 7px;
        height: 28rem;
      }
    }

    .card-body{
      background-color: #e9ecef;
    }

  .card-title .card-text{
    font-family: $font-stack;
    font-weight: $h4-font-weight;
    justify-self: center;
    text-align: center;
  }
}    