/* Index Products */

.products {
  margin: 0 auto;
  max-width: 1000px;
  max-height: 450px;
  background-color:  #e9ecef;
  padding: 24px;
  border-top: #adb5bd solid 30px;
  display: flex;
  
  
  .products__textWrapper {
    width: 500px;
    height: 400px;
    margin-top: 120px;
  }
  
  .products__image {
    width: 500px;
    height: 400px;
  }
  
  .productsImage{
    visibility: visible;
    width: 100%;
    height: 100%;
    margin-top: -15px;
  }

  .productsImage:hover{
    filter: opacity(.5);
    }
  
  .btn{
    margin-left: 70px;
  }


  h1{
    color: $h1-color; 
    font-weight: $h1-weight; 
    letter-spacing: $h1-spacing;
    text-align: $h1-align;
    }

  h2{
    color: $h2-color; 
    font-weight: $h2-weight; 
    text-align: $h2-align;
    }


  .link{ 
    color: $link-color; 
    text-align: $link-align;
    align-self: center;
    }

  .link:hover{ 
    color: $linkhover-color; 
    text-align: $linkhover-align;
    align-self: center;
  }

  @media (max-width: 420px) {
    .products{
        display: grid;
        max-height: 100px;
        grid-template-rows: repeat(2, 1fr);
      }

      .products__textWrapper{
            text-align: center;
            padding-left: 50px;
            margin-top: -5px;
      }

    .btn{    
        display: inline-block;
        margin: 0 10px;
        }
    }  

    .productsImage{
      display: none;
    }

    h1{
      font-weight: 400;
      font-size: 35px;
    }
    h2{
      font-weight: 200;
      font-size: 20px;
    }

    @media (min-width: 678px) {
      .productsImage{
        display: block;
      }
  }
}  

