/* Servicios Main */


.serviceMain{
  margin: 0 auto;
  max-width: 1000px;
  background-color:  #e9ecef;
  padding: 24px;
  
  img{
    display: block;
    margin: auto;
  }

  .imageService{
    max-height: 500px;
    width: 100%;
  }
  .imageService:hover{
  filter: opacity(.5);
  }

.footer{
  margin: 0 auto;
  border-top: #adb5bd solid 30px;
  border-bottom: #adb5bd solid 30px;
  max-width: 1000px;
  background-color:  #e9ecef;
  padding: 24px;
}

.footer__tittle{
  text-align: center;
}

.footer__icons{
  display: flex;
  justify-content: center;

}

.footer__icons .social{
  margin-right: 50px;

}

}



// .service__impresion{
//     margin: 0 auto;
//     border-top: #adb5bd solid 30px;
//     max-width: 1200px;
//     background-color:  #e9ecef;
//     padding: 24px;
//   }
  
//     .imageImpresion{
//       border-radius: 10px;
//       height: 250px;
//       width: auto;
//     }

//     .imageImpresion:hover{
//       filter: opacity(.5);
//     }
    
//     .impresion__textWrapper {
//       margin-bottom: 30px;
//       text-align: center;
//       margin-right: 80px;
//       }
  
//     @media only screen and (min-width: 320px) {
//               .service__impresion{
//                   display: grid;
//                   grid-template-columns: repeat(1, 1fr);
//                   grid-template-rows: repeat(2, 1fr);
//                   grid-template-areas: "impresion__image"
//                                        "impresion__textWrapper";}
        
//                 .impresion__image{
//                     justify-self: center;
//                     align-self: center;
//                 }
        
//                 .impresion__textWrapper{
//                     justify-self: center;
//                     align-self: center;
//                     margin-bottom: 0;
//                     margin-right: 30px;
//               }
//     }
  
//       @media (min-width: 768px) {
//           .service__impresion {
//             display: flex;
//             justify-content: space-between;
//             align-items: center;
//           }
        
//           .impresion__textWrapper {
//             margin-bottom: 0;
//             margin-right: 30px;
//           }
  
//           .impresion__image{
//               justify-self: center;
//               align-self: center;
//           }
// }

// .service__enmarcado{
//   margin: 0 auto;
//   border-top: #adb5bd solid 30px;
//   max-width: 1200px;
//   background-color:  #e9ecef;
//   padding: 24px;
//   }

//   .imageEnmarcado{
//     border-radius: 10px;
//     height: 250px;
//     width: auto;
//   }

//   .imageEnmarcado:hover{
//     filter: opacity(.5);
//   }
  
//   .enmarcado__textWrapper {
//     margin-bottom: 30px;
//     text-align: center;
//     margin-right: 80px;
//     }

//   @media only screen and (min-width: 320px) {
//             .service__enmarcado{
//                 display: grid;
//                 grid-template-columns: repeat(1, 1fr);
//                 grid-template-rows: repeat(2, 1fr);
//                 grid-template-areas: "enmarcado__image"
//                                      "enmarcado__textWrapper";}
      
//               .enmarcado__image{
//                   justify-self: center;
//                   align-self: center;
//               }
      
//               .enmarcado__textWrapper{
//                   justify-self: center;
//                   align-self: center;
//                   margin-bottom: 0;
//                   margin-right: 30px;
//             }
//   }

//     @media (min-width: 768px) {
//         .service__enmarcado {
//           display: flex;
//           justify-content: space-between;
//           align-items: center;
//         }
      
//         .enmarcado__textWrapper {
//           justify-self: center;
//           align-self: center;
//         }

//         .enmarcado__image{
//             justify-self: center;
//             align-self: center;
//         }
//         .footer{
//           margin: 0 auto;
//           border-top: #adb5bd solid 30px;
//           border-bottom: #adb5bd solid 30px;
//           max-width: 1200px;
//           background-color:  #e9ecef;
//           padding: 24px;
//         }
        
//         .footer__icons{
        
//           display: flex;
        
//           justify-content: center;
        
//         }
        
//         .footer__icons .social{
        
//           margin-right: 50px;
        
//         }
        
        
// }