
$background-color: #adb5bd;
$font-stack: 'Roboto', sans-serif;

$link-color: #212529;
$link-align: center;
$linkhover-color: #adb5bd; 
$linkhover-align: center;

$h1-color: #212529; 
$h1-weight: 900; 
$h1-spacing: 2px;
$h1-align: center;

$h2-color: #343a40; 
$h2-weight: 400; 
$h2-align: center;

$h3-color: #495057; 
$h3-weight: 300; 
$h3-align: center;

$h4-color: #6c757d; 
$h4-font-weight: 100; 
$h4-align: center;

$p-color: #6c757d; 
$p-weight: 100; 
$p-align: center; 

$address-color: #495057; 
$address-align: center;