/* Index Work */
.work{
    margin: 0 auto;
    max-width: 1200px;
    border-top: #adb5bd solid 30px;
    background-color: #e9ecef;
    padding: 24px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    .work__title{
        color: $h2-color; 
        font-weight: $h2-weight; 
        text-align: $h2-align;
        }
} 