*{
    margin: 0;
    padding: 0;

    border: 0;
    box-sizing: border-box;
}

@import "variables";
@import "layout";
@import "aboutusmain";
@import "aboutusstory";
@import "value";
@import "footer";
@import "main";
@import "products";
@import "work";
@import "productspagemain";
@import "productspagemat";
@import "servicesone";
@import "servicestwo";
@import "portfoliopage";
@import "contactpage";

