*{
    margin: 0;
    padding: 0;

    border: 0;
    box-sizing: border-box;
}

@import "variables";
@import "layout";
@import "aboutus";
@import "value";
@import "footer";
@import "main";
@import "products";
@import "work";
@import "productspage";
@import "servicespage";
@import "portfoliopage";
@import "contactpage";

